@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    background-color: black;
    color:white;
    font-family: 'Bebas Neue', sans-serif;
}

#name{
    overflow: hidden;
    padding-top: 160px;
    padding-right: 140px;
    text-align: right;
    font-size: 60px;   
}