@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#name{
    padding-top: 60px;
    padding-right: 140px;
    text-align: right;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}
.anim-typewriter{
    width:0;
}
#dev{
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    margin: 0 auto;
}